@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
    background: lightgray;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin: 0px;
}
#top-bar {
    background: white;
    margin: 0px auto;
    padding: 0px;
}
.title {
    width: 80%;
    /* font-weight: bold; */
    font-size: x-large;
}
.wrapper {
    margin: 0px auto;
    width: 500px;
}
.post {
    background: white;
    display: block;
    overflow: auto;
    margin: 50px auto;
    box-shadow: 2px 5px 20px gray; 
}
.title-bar {
    display: flex;
    padding: 10px;
}
.post-number {
    width: 20%;
    text-align: right;
    color: grey;
}
.photo {
    display: block;
    overflow: auto;
}
.text {
    padding: 10px 15px;
}
h3 {
    margin: 0px;
    padding: 10px 0px;
}
#fourth-post div[class*='photo']{
    padding: 60px 0px;
}